h1 Список доступных криптовалют
hr/
= link_to "Добавить новую", new_coin_path, :class => 'btn btn-primary'
br/
br/
ul.list-group
  - @coin.each do |coin|
    li.list-group-item
      h4= link_to coin.title, coin
      = coin.ticker
