<h1><%= get_resource.title %></h1>
<h5><%= get_resource.ticker %></h5>
<hr>
<%= link_to "Редактировать", edit_coin_path(get_resource), :class => 'btn btn-warning' %> 
<%= link_to "Удалить", coin_path(get_resource), method: :delete, data: {confirm: "Хотите удалить?"}, :class => 'btn btn-danger' %> 
